# Ignore YOLO model files
*.pt
*.pth
*.model

# Ignore cache directories
.cache/
__pycache__/

# Ignore logs and temporary files
access.log
detections.log
*.log
*.tmp

# Ignore Python virtual environment directories
venv/
env/

# Ignore detection output images and videos
detection_clips/
detection_clips/**
yolo_detections/
yolo_detections/**
logs/
logs/**

# local automation
./run_detection_firejail.sh
